*.class
*.*~

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!/lib/*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/notification_server/nbproject/private/
/notification_server/build/
/notification_server/dist/
/dhuoj_client/nbproject/private/
/dhuoj_client/build/
/dhuoj_client/dist/
/dhuoj_common/nbproject/private/
/dhuoj_common/build/
/dhuoj_common/dist/
/judge_server/nbproject/private/
/judge_server/build/
/judge_server/dist/
/GenerateSourceCode/nbproject/private/
/GenerateSourceCode/build/
/GenerateSourceCode/dist/
/dhuoj_encryptor/nbproject/private/
/dhuoj_encryptor/build/
/dhuoj_encryptor/dist/
/dhuoj_judge/nbproject/private/
/dhuoj_judge/build/
/dhuoj_judge/dist/
/persistence/nbproject/private/
/persistence/build/
/persistence/dist/
/primeserver/nbproject/private/
/primeserver/build/
/primeserver/dist/
/dhuoj/nbproject/private/
/dhuoj/build/
/dhuoj/dist/

/sampleWebServices/nbproject/private/
/sampleWebServices/build/
/Calculator/CalculatorClientApp/nbproject/private/
/Calculator/CalculatorApp/nbproject/private/
/Calculator/CalculatorClientApp/build/
/Calculator/CalculatorApp/build/
/sampleWebServicesClient/nbproject/private/
/sampleWebServicesClient/build/
/sampleWebServicesClient/dist/
/sampleWebServices/dist/
/sampleDhuojClient/nbproject/private/
/sampleDhuojClient/build/
/sampleDhuojClient/dist/
/NumbericalComputationExp/nbproject/private/
/NumbericalComputationExp/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/